body{
    background-color: #f2ecec;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.example1 {
    background-color: rgb(237, 213, 205);
    padding: 15px;
    border: 5px solid none;
    margin: 20px 10px;
    border-radius: 25px;
}

.example1 h2 {
    text-align: center;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.example2 {
    background-color: rgb(237, 213, 205);
    padding: 15px;
    border: 5px solid none;
    margin: 20px 10px;
    border-radius: 25px;
}

.feedback1.png{
    width: 180px;
    border-radius: 28px;
}

.feedback2.png{
    width: 180px;
    border-radius: 28px;
}

.example2 h2 {
    text-align: center;
}

.reviews {
    background-color: rgb(237, 213, 205);
    padding: 15px;
    border: 5px solid none;
    margin: 20px 10px;
    border-radius: 25px;
}

.feedback1{
    width: 250px;
    border-radius: 28px;
}

.feedback2{
    width: 265px;
    border-radius: 28px;
}

.reviews h3 {
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 20px;
}

.table td:nth-child(2), td:nth-child(3) {
    color: rgb(57, 55, 55);
}

ul li {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }